.reveal .padding {
  padding: 15px; }

.absolute {
  position: absolute; }

.feature {
  transition: all 1s linear !important;
  left: 50%;
  margin-left: -250px !important;
  position: absolute; }
  .feature span {
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .feature .span {
    width: 250px;
    border-radius: 50%;
    height: 250px;
    overflow: hidden;
    padding: 0;
    white-space: normal;
    display: inline-block;
    padding-top: 33px !important; }
  .feature img {
    transition: all 1s linear;
    width: 500px;
    display: block;
    margin: 20px auto !important; }
  .feature.state2 img {
    opacity: 0; }

.mvcFeature.state2 {
  transform: translate(-400px, 0); }

.bindingFeature.state2 {
  transform: translate(400px, 0); }

.reuseFeature.state2 {
  transform: translate(400px, 300px); }

.injectFeature.state2 {
  transform: translate(-400px, 300px); }

.reduceCode {
  width: 500px;
  height: 300px;
  left: 250px;
  top: 59px; }
  .reduceCode .text {
    top: 100px;
    position: relative; }

.arrow {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  position: absolute !important;
  width: 100px; }

.left-top-arrow {
  left: 0;
  top: 0; }

.left-bottom-arrow {
  left: 0;
  bottom: 0;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipV"; }

.right-top-arrow {
  right: 0;
  top: 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.right-bottom-arrow {
  right: 0;
  bottom: 0;
  transform: rotate(180deg); }

@keyframes move-left {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(-300px, 0); } }
@keyframes move-right {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(300px, 0); } }
@keyframes move-bottom-left {
  100% {
    transform: translate(-100px, 0); } }
@keyframes move-bottom-right {
  100% {
    transform: translate(-100px, 0); } }
