.directive-animation {
  width: 1000px;
  margin: auto !important;
  height: 700px;
  position: relative; }
  .directive-animation [class*=piece] img {
    width: 250px;
    height: auto;
    max-width: initial; }
  .directive-animation .piece1.visible:not(.current-fragment) {
    animation-name: go-left;
    animation-duration: 2s;
    animation-fill-mode: both; }
  .directive-animation .piece2.visible:not(.current-fragment) {
    animation-name: go-center;
    animation-duration: 2s;
    animation-fill-mode: both; }
  .directive-animation .piece3.visible:not(.current-fragment) {
    animation-name: go-right;
    animation-duration: 2s;
    animation-fill-mode: both; }
  .directive-animation img {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important; }
  .directive-animation .pieces {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    left: 50%;
    margin-left: -100px !important; }
    .directive-animation .pieces img {
      transition: all 1s linear;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      width: 250px;
      height: 170px;
      display: inline-block; }
      .directive-animation .pieces img.visible.current-fragment {
        animation-name: move-down;
        animation-duration: 2s;
        animation-fill-mode: both; }
      .directive-animation .pieces img.fixed {
        z-index: 999; }
  .directive-animation .widthout-piece {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between; }
@keyframes move-down {
  from {
    opacity: 0; }
  20%, 40%,60% ,80% {
    opacity: 1; }
  30%, 50%, 70%, 90% {
    opacity: 0; }
  to {
    opacity: 1;
    transform: translateY(100px); } }
@keyframes go-left {
  from {
    transform: translateY(100px) rotate(1deg); }
  to {
    transform: translate(-382px, 493px) rotate(-360deg); } }
@keyframes go-center {
  from {
    transform: translateY(100px) rotate(1deg); }
  to {
    transform: translate(-7px, 493px) rotate(-360deg); } }
@keyframes go-right {
  from {
    transform: translateY(100px) rotate(1deg); }
  to {
    transform: translate(369px, 493px) rotate(-360deg); } }
