.directive-animation {
  width: 1000px;
  margin: auto !important;
  height: 600px;
  position: relative;
  top: -40px; }
  .directive-animation .piece1.visible:not(.current-fragment) {
    animation-name: go-left;
    animation-duration: 2s;
    animation-fill-mode: both; }
  .directive-animation .piece2.visible:not(.current-fragment) {
    animation-name: go-center;
    animation-duration: 2s;
    animation-fill-mode: both; }
  .directive-animation .piece3.visible:not(.current-fragment) {
    animation-name: go-right;
    animation-duration: 2s;
    animation-fill-mode: both; }
  .directive-animation img {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important; }
  .directive-animation .pieces {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    left: 50%;
    margin-left: -100px !important; }
    .directive-animation .pieces .my-directive {
      position: absolute;
      right: -160px;
      top: 30px;
      animation-name: my-directive;
      animation-iteration-count: infinite;
      animation-duration: 8s; }
    .directive-animation .pieces img {
      transition: all 1s linear;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      width: 128px;
      height: 111px;
      display: inline-block; }
      .directive-animation .pieces img.visible.current-fragment {
        animation-name: move-down;
        animation-duration: 2s;
        animation-fill-mode: both; }
      .directive-animation .pieces img.fixed {
        z-index: 999; }
  .directive-animation .widthout-piece, .directive-animation .views {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between; }
    .directive-animation .widthout-piece img, .directive-animation .views img {
      width: 250px;
      height: auto;
      max-width: initial; }
  .directive-animation .views {
    bottom: 40px; }
    .directive-animation .views div {
      width: 250px; }
      .directive-animation .views div.blue {
        color: #0003fe; }
      .directive-animation .views div.red {
        color: #cd0100; }
      .directive-animation .views div.green {
        color: #01d101; }

@keyframes move-down {
  20%, 40%, 60%, 80% {
    opacity: 1; }
  from, 30%, 50%, 70%, 90% {
    opacity: 0; }
  to {
    opacity: 1;
    transform: translateY(150px); } }

@keyframes go-left {
  from {
    transform: translateY(150px) rotate(1deg); }
  to {
    transform: translate(-277px, 377px) rotate(-360deg); } }

@keyframes go-center {
  from {
    transform: translateY(150px) rotate(1deg); }
  to {
    transform: translate(97px, 377px) rotate(-360deg); } }

@keyframes go-right {
  from {
    transform: translateY(150px) rotate(1deg); }
  to {
    transform: translate(473px, 377px) rotate(-360deg); } }

@keyframes my-directive {
  0%, 30%, 60%, 90% {
    color: #0003fe; }
  10%, 40%, 70%, 100% {
    color: #cd0100; }
  20%, 50%, 80% {
    color: #01d101; } }
