.hackathon-demo {
  height: 650px;
  width: 1000px;
  margin: auto !important;
  position: relative;
  /* Styles go here */ }
  .hackathon-demo [ng-click] {
    cursor: pointer; }
  .hackathon-demo .imac {
    width: 800px;
    height: auto;
    border: none;
    background-color: transparent;
    box-shadow: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0; }
    .hackathon-demo .imac:hover {
      transform: initial !important; }
  .hackathon-demo .list-group {
    height: 650px; }
  .hackathon-demo .note-list md-list-item h3 {
    font-size: 30px !important; }
  .hackathon-demo .note-list md-list-item h4 {
    font-size: 25px  !important; }
  .hackathon-demo .note-list md-list-item md-list-item md-divider {
    /*background-color: white;*/ }
  .hackathon-demo form {
    text-align: left; }
  .hackathon-demo .wrapper {
    width: 500px;
    height: 399px;
    color: black;
    background-color: white;
    position: relative;
    top: 45px;
    left: -26px;
    margin: 0;
    display: inline-block;
    overflow-x: hidden;
    /* overflow: auto; */ }
    .hackathon-demo .wrapper .add-note, .hackathon-demo .wrapper .read-note {
      width: 100%;
      height: 100%;
      margin: auto;
      padding: 50px; }
    .hackathon-demo .wrapper h2, .hackathon-demo .wrapper h3 {
      color: black !important; }
  .hackathon-demo md-toolbar {
    width: 500px;
    margin: auto;
    color: white; }
    .hackathon-demo md-toolbar .md-icon-button {
      font-size: 29px;
      padding-left: 20px;
      width: 50px;
      position: absolute;
      top: 0; }
    .hackathon-demo md-toolbar h2.md-truncate {
      color: white !important; }
  .hackathon-demo .scroll {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 500px;
    margin: auto; }
    .hackathon-demo .scroll .note-list {
      text-align: left; }
      .hackathon-demo .scroll .note-list h3, .hackathon-demo .scroll .note-list h4 {
        /*color: white;*/ }
  .hackathon-demo md-input-container:not(.md-input-focused) label:not(.md-no-float):not(.md-container-ignore), .hackathon-demo md-input-container:not(.md-input-focused) .md-placeholder {
    /*color: white;*/ }
  .hackathon-demo md-input-container input, .hackathon-demo md-input-container label, .hackathon-demo md-input-container md-select {
    font-size: 30px; }
  .hackathon-demo input {
    /*        color:white;*/
    /*height: 50px;*/ }
  .hackathon-demo .md-fab {
    font-size: 30px;
    text-align: center;
    padding-top: 4px;
    padding-left: 9px;
    position: absolute;
    z-index: 999;
    bottom: 30px;
    right: 30px; }
  .hackathon-demo .animate {
    width: 100%;
    margin: auto;
    height: calc(100% - 50px) !important; }
    .hackathon-demo .animate.ng-enter, .hackathon-demo .animate.ng-leave {
      transition: 500ms linear all;
      position: absolute; }
  .hackathon-demo .animate.animate-left.ng-enter {
    left: 100%; }
  .hackathon-demo .animate.animate-left.ng-enter.animate.ng-enter-active {
    left: 0; }
  .hackathon-demo .animate.animate-left.ng-leave {
    left: 0; }
  .hackathon-demo .animate.animate-left.ng-leave.animate.ng-leave-active {
    left: 100%; }
  .hackathon-demo .animate.animate-right.ng-enter {
    right: 100%; }
  .hackathon-demo .animate.animate-right.ng-enter.animate.ng-enter-active {
    right: 0; }
  .hackathon-demo .animate.animate-right.ng-leave {
    right: 0; }
  .hackathon-demo .animate.animate-right.ng-leave.animate.ng-leave-active {
    right: 100%; }
