[class*='col-'] {
  padding: 0 15px !important;
  margin-bottom: 10px !important; }

.reveal h2, .reveal h3, .reveal h4.h5, .reveal h6 {
  text-transform: initial; }

.reveal pre {
  background-color: #333333; }

.reveal .controls .navigate-up, .reveal .controls .navigate-down {
  display: none; }

.reveal .controls .navigate-left, .reveal .controls .navigate-right {
  bottom: 0px;
  top: initial; }

.form-control {
  color: black;
  font-size: 0.9em !important; }

ul.bounce li.current-fragment:nth-child(1) h3 {
  animation-name: bounceInLeft; }

ul.bounce li.current-fragment:nth-child(2) h3 {
  animation-name: bounceInRight; }

ul.bounce li.current-fragment:nth-child(3) h3 {
  animation-name: bounceInDown; }

ul.bounce li.current-fragment h3 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: bounceInLeft; }

ul.rollIn li.current-fragment:nth-child(1) h3 {
  animation-name: rollIn; }

ul.rollIn li.current-fragment:nth-child(2) h3 {
  animation-name: rollIn; }

ul.rollIn li.current-fragment:nth-child(3) h3 {
  animation-name: rollIn; }

ul.rollIn li.current-fragment h3 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: rollIn; }

ul.rotate li.current-fragment:nth-child(1) h3 {
  animation-name: rotateInUpLeft; }

ul.rotate li.current-fragment:nth-child(2) h3 {
  animation-name: rotateInUpRight; }

ul.rotate li.current-fragment:nth-child(3) h3 {
  animation-name: rotateInDownLeft; }

ul.rotate li.current-fragment h3 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: rotateInUpLeft; }

ul.light-speed li.current-fragment:nth-child(1) h3 {
  animation-name: jackInTheBox; }

ul.light-speed li.current-fragment:nth-child(2) h3 {
  animation-name: jackInTheBox; }

ul.light-speed li.current-fragment:nth-child(3) h3 {
  animation-name: jackInTheBox; }

ul.light-speed li.current-fragment h3 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: jackInTheBox; }
