.reveal .padding {
  padding: 15px; }

.absolute {
  position: absolute; }

.why-choose .feature {
  transition: all 1s linear !important;
  left: 50%;
  margin-left: -133px !important;
  position: absolute; }
  .why-choose .feature span {
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .why-choose .feature .span {
    width: 250px;
    border-radius: 50%;
    height: 250px;
    overflow: hidden;
    padding: 0;
    white-space: normal;
    display: inline-block;
    padding-top: 33px !important; }
  .why-choose .feature img {
    transition: all 3s linear;
    width: 700px;
    display: block;
    margin: 20px auto !important;
    max-width: initial;
    max-height: initial;
    position: absolute; }
  .why-choose .feature.visible:not(.current-fragment) img {
    animation-name: blur-image;
    animation-duration: 1s;
    animation-fill-mode: forwards; }

.why-choose .bindingFeature img {
  left: -50%;
  margin-left: -45px !important; }

.why-choose .bindingFeature.visible:not(.current-fragment) {
  transform: translate(-400px, 0); }

.why-choose .reuseFeature img {
  left: -140px;
  width: 600px; }

.why-choose .reuseFeature.visible:not(.current-fragment) {
  transform: translate(400px, 0); }

.why-choose .domManipulationFeature img {
  left: -50%;
  margin-left: -45px !important; }

.why-choose .domManipulationFeature.visible:not(.current-fragment) {
  transform: translate(400px, 300px); }

.why-choose .pluginFeature img {
  left: -50%;
  margin-left: -45px !important; }

.why-choose .pluginFeature.visible:not(.current-fragment) {
  transform: translate(-400px, 300px); }

.why-choose .reduceCode {
  width: 500px;
  height: 300px;
  left: 375px;
  top: 59px; }
  .why-choose .reduceCode .text {
    top: 100px;
    position: relative; }

.why-choose .arrow {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  position: absolute !important;
  width: 100px; }

.why-choose .left-top-arrow {
  left: 0;
  top: 0; }

.why-choose .left-bottom-arrow {
  left: 0;
  bottom: 0;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipV"; }

.why-choose .right-top-arrow {
  right: 0;
  top: 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.why-choose .right-bottom-arrow {
  right: 0;
  bottom: 0;
  transform: rotate(180deg); }

@keyframes blur-image {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
