.twoway-db {
  width: 1300px;
  height: 400px;
  background-color: white;
  color: black;
  margin: auto !important;
  position: relative; }
  .twoway-db .arrow {
    width: 500px;
    display: flex;
    align-items: center; }
    .twoway-db .arrow .text {
      display: inline-block; }
    .twoway-db .arrow img {
      box-shadow: none !important;
      border: none !important; }
  .twoway-db .left-arrow {
    top: 30px;
    left: 30px; }
  .twoway-db .right-arrow {
    position: absolute;
    top: 30px;
    right: 10px; }
  .twoway-db .wrapper {
    display: flex;
    justify-content: center; }
  .twoway-db .model-wrapper {
    position: absolute;
    top: 10px;
    width: 100%; }
    .twoway-db .model-wrapper .model {
      width: 300px;
      background-color: #009cd6;
      padding: 30px;
      border-radius: 50%; }
  .twoway-db .view-wrapper {
    position: absolute;
    top: 198px;
    width: 100%; }
    .twoway-db .view-wrapper .view {
      width: 300px;
      background-color: #84ce8c;
      padding: 30px;
      border-radius: 50%; }
