<h2>Why we choose AngularJS</h2>
<div ng-controller="ctr4">
	<div style="height:500px;width:1200px;position:relative;"  >

		<div class="fragment mvcFeature feature" ng-click="mvcState='state2'" ng-class="mvcState">
			<span class="padding bg-primary">Two-way data binding</span>
			<img src="resources/MVC.png" />
		</div>

		<div class="fragment bindingFeature feature" ng-click="click('bindingState','state2')" ng-class="bindingState">
			<span class="padding bg-primary">Reusable components</span>
			<img src="resources/MVC.png" />
		</div>

		<div class="fragment reuseFeature feature" ng-click="click('reuseState','state2')" ng-class="reuseState">
			<span class="padding bg-primary">DOM manipulation</span>
			<img src="resources/MVC.png" />
		</div>

		<div class="fragment injectFeature feature" ng-click="click('injectState','state2')" ng-class="injectState">
			<span class="padding bg-primary">Many useful plugins</span>
			<img src="resources/MVC.png" />
		</div>
	

	<div class="fragment padding fragment reduceCode absolute animated pulse infinite">
	<img src="resources/arrow.png" class="left-top-arrow arrow">
	<img src="resources/arrow.png" class="left-bottom-arrow arrow">
	<img src="resources/arrow.png" class="right-top-arrow arrow">
	<img src="resources/arrow.png" class="right-bottom-arrow arrow">

		<span class="text"><b>Reduce code</b></span>


	</div>
	


	</div>
</div>
