<div ng-controller="domManipulation" class="container-fluid dom-manipulation">
	<h2>Dom manipulation</h2>
	<div class="row">
		<div class="col-xs-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Visibility manipulation</div>
				<div class="panel-content text-left">
					<input ng-init="isHide=false" bs-switch type="checkbox" ng-model="isHide" id="hide"/>
					<span ng-hide="isHide" class="hide-item">Show</span>
				</div>
			</div>
		</div>

		<div class="col-xs-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Visibility manipulation</div>
				<div class="panel-content text-left">
					<input ng-init="isHide=false" bs-switch type="checkbox" ng-model="isHide" id="hide"/>
					<span ng-hide="isHide" class="hide-item">Show</span>
				</div>
			</div>
		</div>


		
	</div>
</div>