<div ng-controller="domManipulation" class="container-fluid dom-manipulation">
    <h1>Dom manipulation</h1>
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Visibility manipulation</div>
                <div class="panel-content text-left">
                    <input ng-init="isHide=false" bs-switch type="checkbox" ng-model="isHide"/>
                    <span ng-hide="isHide" class="hide-item">Show</span>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Ability manipulation</div>
                <div class="panel-content text-left">
                    <input ng-init="isDisabled=false" bs-switch type="checkbox" ng-model="isDisabled"/>
                    <button ng-init="count=0" class="btn btn-primary" ng-disabled="isDisabled" ng-click="count=count+1">
                        Count: <b >{{count}}</b></button>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Class manipulation</div>
                <div class="panel-content text-left form-group-lg">
                    <div class="row">
                        <div ng-class="class"  class="col-xs-12">Custom class</div>

                        <div class=" col-xs-12"><select ng-options="item as item for item in classes  " ng-model="class"
                                                       class="form-control"></select>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Style manipulation</div>
                <div class="panel-content text-left form-group-lg container-fluid">

                        <div class="row">
                            <span class="col-xs-12" ng-style="getClass(customStyle)">Custom style</span>
                            <div class="col-xs-12"> <textarea rows="1" class="form-control " ng-model="customStyle"></textarea></div>

                        </div>
                </div>
            </div>
        </div>
    </div>