<h2>Two-way data binding</h2>
<div class="live-code-twoway" ng-controller="liveCodeTwoWay">
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="text">1. From view to model by using <b>ng-model="modelName"</b>
                    <pre>
                        <code data-trim data-noescape class="html">
                            &lt;input ng-model="modelName"&gt;
                        </code>
                    </pre>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="text">2. From model to view by using <b>{{modelName}}</b>
                    <pre>
                        <code data-trim data-noescape class="html">
                        &lt;div&gt;<span ng-non-bindable>{{modelName}}</span>&lt;/div&gt;                      
                    </code>
                    </pre>
                </div>

            </div>


        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>

</div>