.directive-animation{
    width: 1000px;
    margin: auto !important;
    height: 600px; 
    position:relative;
    top: -40px;

    $move-down:377px;
    $red-color:#cd0100;
    $blue-color:#0003fe;
    $green-color:#01d101;
    
    
    $go-down:150px;

    .piece1{
        &.visible{
            &:not(.current-fragment){
                animation-name: go-left;
                animation-duration: 2s;
                animation-fill-mode: both; 

            }
        }


    }
    .piece2{
        &.visible{
            &:not(.current-fragment){
                animation-name: go-center;
                animation-duration: 2s;
                animation-fill-mode: both;

            }
        }

    }
    .piece3{ 
        &.visible{
            &:not(.current-fragment){
                animation-name: go-right;
                animation-duration: 2s;
                animation-fill-mode: both;

            }
        }

    }


    img{
        background-color: transparent !important;
        box-shadow: none !important;
        border: none !important;
    }

    .pieces{
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        left: 50%;
        margin-left: -100px !important;  
        .my-directive{
            position: absolute;
            right: -160px;
            top: 30px;
            animation-name: my-directive;
            animation-iteration-count: infinite;
            animation-duration: 8s;


        }

        img{
            &.visible.current-fragment{
                animation-name: move-down;
                animation-duration: 2s;
                animation-fill-mode: both;

            }
            &.fixed{
                z-index: 999
            }
            transition: all 1s linear;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
            width: 128px;
            height: 111px;
            display: inline-block;
        }
    }
    .widthout-piece,.views{
        position: absolute;
        bottom: 0;
        left:0;
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: space-between;
        img{
            width: 250px;
            height: auto;
            max-width: initial;
        }

    }
    .views{
        bottom:40px;
        div{
            &.blue{
                color: $blue-color;
            }
            &.red{
                color: $red-color;
            }
            &.green{
                color:$green-color;
            }

            width:  250px;
        }
    }

    @keyframes move-down{

        20%, 40%,60% ,80%{
            opacity:1;
        }
        from,30%, 50%, 70%, 90%{
            opacity:0;
        }

        to{
            opacity:1;
            transform: translateY($go-down) ; 
        }


    }
    @keyframes go-left{

        from{
            transform:   translateY($go-down) rotate(1deg);
        }

        to{
            transform:   translate(-277px, $move-down) rotate(-360deg) ;        }


    }
    @keyframes go-center{

        from{
            transform:   translateY($go-down) rotate(1deg);
        }

        to{
            transform:   translate(97px, $move-down)  rotate(-360deg);
        }


    }
    @keyframes go-right{

        from{
            transform:   translateY($go-down) rotate(1deg);
        }

        to{
            transform: translate(473px, $move-down) rotate(-360deg);    
        }


    }
    @keyframes my-directive{
        0%,30%,60%,90%{
            color: $blue-color;

        }   
        10%,40%,70%,100%{
            color: $red-color;


        }   
        20%,50%,80%{
            color: $green-color;


        }   




    }
}
