.reveal {
    .dom-manipulation {
        .panel {
            background-color: transparent;
            border: 1px solid #337ab7;

            .panel-content {
                padding: 0 20px;
                display: flex;
                align-items: center;
            }
        }

        .hide-item {
            transition: all linear 0.5s;
        }

        .hide-item.ng-hide {
            opacity: 0;
        }
    }
}