$width:1000px;
$height:650px;
$background-color: white;
.hackathon-demo{
    [ng-click]{
        cursor: pointer;        

    }
    height: $height;
    width:$width;
    margin:auto !important;
    position:relative;
    .imac{
        width: 800px;
        height: auto;
        border: none;
        background-color: transparent;
        box-shadow: none;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        &:hover {
            transform: initial !important;}
    }
    .list-group{
        height:$height;
        //   overflow: auto;
    }

    /* Styles go here */
    .note-list{
        md-list-item {
            h3{
                font-size: 30px !important; 
            }
            h4{
                font-size: 25px  !important;
            }
            md-list-item md-divider{
                /*background-color: white;*/
            }
        }
    }
    form{
        text-align: left;
    }
    .wrapper{
        width: 500px;
        height: 399px;
        color: black ;
        background-color: $background-color;
        position: relative;
        top: 45px;
        left: -26px;
        margin: 0;
        display: inline-block;
        overflow-x: hidden;
        /* overflow: auto; */

        .add-note,.read-note{
            width: 100%;
            height: 100%;
            margin: auto;
            padding: 50px;
        }
        h2,h3{
            color: black !important;
        }
    }
    md-toolbar{
        width: 500px;
        margin: auto;
        color: white; 
        .md-icon-button{
            font-size: 29px;
            padding-left: 20px;
            width: 50px;
            position: absolute;
            top: 0;
        }
        h2.md-truncate{
            color: white !important; 

        }
    }
    .scroll{

        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        width: 500px;
        margin: auto;
        .note-list{
            text-align: left;
            h3,h4{
                /*color: white;*/
            }
        }
    }

    md-input-container{
        &:not(.md-input-focused) { 
            label:not(.md-no-float):not(.md-container-ignore), .md-placeholder{
                /*color: white;*/
            }



        }
        input,label,md-select{
            font-size: 30px;

        }
    }
    input{
        /*        color:white;*/
        /*height: 50px;*/
    }
    .md-fab{
        font-size: 30px;
        text-align: center;
        padding-top: 4px;
        padding-left: 9px;
        position: absolute;
        z-index: 999;
        bottom: 30px;
        right: 30px;

    }

    .animate{

        width: 100%;
        margin: auto;
        height: calc(100% - 50px) !important;
        &.ng-enter, &.ng-leave{
            transition: 500ms linear all;
            position: absolute;
        }
    }



    .animate.animate-left.ng-enter {
        left: 100%;
    }
    .animate.animate-left.ng-enter.animate.ng-enter-active {
        left: 0;
    }

    .animate.animate-left.ng-leave {
        left: 0;
    }
    .animate.animate-left.ng-leave.animate.ng-leave-active{
        left: 100%;
    }


    .animate.animate-right.ng-enter {
        right: 100%;
    }
    .animate.animate-right.ng-enter.animate.ng-enter-active {
        right: 0;
    }

    .animate.animate-right.ng-leave {
        right: 0;
    }
    .animate.animate-right.ng-leave.animate.ng-leave-active{
        right: 100%;
    }
}